.menu__carte {
  display: flex;
  flex-direction: row;
}

.menu__carte {
  overflow: hidden;
}
.menu__carte .menu__entrees {
  flex: 1;
  padding-right: 10px;
  overflow: hidden;
  padding: 20px;
}
.menu__carte .menu__plats {
  flex: 1;
  padding-right: 10px;
  overflow: hidden;
  padding: 20px;
}
.menu__carte .menu__desserts {
  flex: 1;
  padding-right: 10px;
  overflow: hidden;
  padding: 20px;
}